<!DOCTYPE html>
<html lang>
<head prefix>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>pcs pi</title>

<!-- libraries-->
<script src="http://code.jquery.com/jquery.min.js"></script>
<!-- custom files-->

<!--CSS-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body>
<div class="container">
<img src="static/PiImages/imageA.jpg">
<img src="static/PiImages/imageB.jpg">
</div>
  <div id="footer">
    <p> </p>
    <center>© 2016 Hubert</center>
  </div>

  </body>
</html>
