<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to pcs</title>

    <!-- libraries-->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src ="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>

    <!-- custom files-->

    <!--CSS-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>
    <h1 class="header center black-text">Sign in to pcs</h1>
    <div class="container">
        <div class="span12">
            <div id="sdcontainer">
                <form class="well form-inline" action="/login" method="post">
                    <input id="username" name="username"  type="text" class="input" placeholder="Pick a username">
                    <input id="password" name="password" type="password" class="validate" placeholder="Password">
                    <button id="buttonSignIn" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
        <span id="responseLogin">{{ incorrectMessage }}</span>
    </div>

    <div class="container">
        <div class="span12">
            <a href="/index">Create an account.</a>
        </div>
    <div>

    <div id="footer">
        <p> </p>
        <center>© 2016 Hubert</center>
    </div>
        
</body>

</html>